
/* --- _FONTS ------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Vollkorn|Electrolize|Average');

/* Vollkorn */
h1, h2, h3, main, p.mobile-banner-title {
	font-family: "Vollkorn", Georgia, "Times New Roman", serif;
	font-weight: normal;
}
/* Electrolize */
h4, .carousel, .cta, nav.main, .highlight h1,
.cta a:after, .promote h3 a:after,
footer.main nav,
.form-group, .btn-submit, .optionalFields, textarea, select,
input[type="text"], input[type="email"], input[type="url"], input[type="url"], input[type="password"] {
	font-family: "Electrolize", "Share Tech Mono", "Trebuchet MS","Lucida Grande",Tahoma,sans-serif;
}
.carousel p.telephone, address {
	font-family: "Times New Roman", serif
}



/* --- FONT design -------------------------------------------------------- */
.parallax a, .cta a, .cta, .carousel-CTA, .carousel .caption, .btn-submit, address .address-label {
	font-weight: bold;
}
p, ul.native, ul.typeface, h4 {
    margin: 0 0 1em;
}
p.cta {
	margin-top: 2%;
}
h2, h3 {
    margin: 0 0 0.3em;
}
figure + h2, h3 {
	margin-top: 0.6em;
}
h4 {
    margin-top: -.2em;
}
.promote-left h2, .promote-right h2, .promote-left h3, .promote-right h3 {
	margin-top: 0;
}




/* provisional */
#google-map {display: none;}



/* ---  _NONSENSE: clearing unnecessary link manipulation that developers love to waste time with, everywhere! (just leave the focus alone!)---------------------------------------- */
.dropdown-menu > li > a
	{font-weight: inherit;}
}.form-control::-moz-placeholder, .form-control:-ms-input-placeholder
	{color:inherit;}
.navbar-default ul.navbar-nav > li > a:focus, .navbar-default ul.navbar-nav > li > a:hover
	{color:inherit;}
a:focus,
.nav li a:focus, .nav li a:hover, .nav li:hover > a,
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover
	{background-color: inherit;}
navbar-nav > li > .dropdown-menu
	{border-top-left-radius: inherit; border-top-right-radius: inherit;}
/*
.dropdown-menu > li > a {
	font-weight: inherit;}
.dropdown-menu {font-size: inherit;}
*/
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	background: inherit; color: inherit; text-decoration: inherit;}

/* --- _LINE HEIGHT ----------------------------------------------------- */

body, address, h1, h1, h3, h4, span, a 			{line-height: inherit;}
p, li											{line-height: 155%;}
.home-page .col-sm-4 p							{line-height: 140%;}
h2, h3, h3 span, h4								{line-height: 135%;}
.parallax.miami h2 								{line-height: 1.7;}
.carousel h2, .carousel h3  					{line-height: 1;}
.carousel h1							  		{line-height: 0.9;}
.carousel p 									{line-height: 1.3;}

/* --- _FONT_SIZE -------------------------------------------------- */

.dropdown-menu, html, body, h1, h2, h3, h4, p, span, a, ul, li, .form-control, button, input, optgroup, select, textarea
/* input[type="text"], input[type="email"], input[type="url"], input[type="password"]  */ {
	font-size: inherit;}
body {
	font-size: 100%;}
/* ---------------------- */
.highlight h1, .form-control {
	font-size: 90%;
}
p, ul.native, ul.typeface, .btn-submit {
	font-size: 130%;
}
h4 {
	font-size: 170%;
}
h3 {
	font-size: 200%;
}
h1, h2 {
	font-size: 220%;
}
.promote.promote-left h2, .promote.promote-right h2 {
	font-size: 250%;
}
.parallax h2, main > section > header h2 {
	font-size: 280%;
}
.contact h2 {
	font-size: 300%;
}
.parallax.attorney h2 {
	font-size: 350%;
}
.telephone {}
/* --- smaller --- ----------------------*/
nav.main, abbr[data-original-title], abbr[title], footer.main  {
    font-size: 95%;
}
.sitemap a, footer.main nav a {
    font-size: 85%;
}
/* --- hgroup --- -----------------*/
.col-sm-6.col-md-3 hgroup, footer aside /* tax law page */ {
    font-size: 70%;
}
.col-sm-4 hgroup, .optionalFields /* home and estate planning page */{
    font-size: 90%;
}
p.cta {
	font-size: 105%;
}
/* --- highlight --- --------------*/
.callout h2  {
	font-size: 150%;
}
.highlight .col-sm-4 p, .highlight .col-md-3 p {
	font-size: 120%;
}
.highlight .col-sm-4 h3, .highlight .col-md-3 h3 {
	font-size: 155%;
}
/* --- carousel ONLY --- ----------------*/
.carousel {
	font-size: 1.8em;
}
.carousel .caption p {
	font-size: 1em;
}
.carousel h1 span {
	font-size: 0.52em;
}
a.carousel-CTA {
	font-size: 0.6em;
}
.carousel .caption.contact h3 {
	font-size: 1.8em;
}
.carousel .large h1, .carousel .large h2 {
	font-size: 2.4em;
}
/* --- _address ONLY (px) --- ----------- */
footer.main aside p.copyright {
	font-size: 10px;
}
address .address-label {
    font-size: 13px;
}
address .content.name strong {
    font-size: 23px; font-weight: normal;
}
address .content.title {
	font-size: 11px; line-height: 14px;
}
address .content.address, address .content.fax-number, address .content.email {
	font-size: 16px;
}
address .content.phone-number {
	font-size: 30px;
}

/* --- _COLORS ------- hover green #22c39b ------- #22c39b ----------------------------------------------- */

body {
	color: #999;
	background-color: #f8f7ed;
}
.form-control, input[type="text"], input[type="email"], input[type="url"], input[type="url"], input[type="password"],
textarea, select {
	color: #999;
}
address .content.title, h4 {
	color: #777;
}
/* -- COLOR _WHITE ----------------- */
h1, .highlight h2, .highlight h3, .highlight a, .parallax.attorney a,
.carousel, .carousel h1, .carousel h1 span, .carousel h1 abbr, .carousel h2, .carousel h3,
.carousel-CTA, .carousel-CTA:hover, .carousel-CTA:focus,
.left-control, .right-control, .left-control:hover, .right-control:hover,
.left-control:active, .right-control:active, .left-control:after, .right-control:after,
.highlight .cta a, .cta a:hover,
.btn-submit, .parallax {
	color: white;
}
.highlight, .highlight h1, .highlight p:not(callout) {
    color: rgba(255, 255, 255, 0.9);
}

/* -- LINK COLOR ---------------------------- */

/* ---- darker link ------------------------- */
a, .highlight .promote .cta a:hover {
	color: #1fad8a;
}
footer.main nav a:hover {
	background: #1fad8a;
}
/* --- lighter links - REAL HOVER ---------- */
a:hover, header h2, address a, nav.main a:hover, footer.main a:hover  {
    color: rgb(34, 195, 155);
    color: #22c39b;
}
/* ---- fake gray link ---------------------- */
h3, h3 a, .promote h3 a:after, address, .form-control:focus {
	color: #444;
}
/* nav --------------------- */
.navbar-nav a, .navbar-nav .dropdown-menu li.active > a {
    color: #666;
 }
/* ---- lighter links - fake hover ---------- */
h3 a:hover, .promote h3 a:hover:after, figure:hover ~ hgroup h3 a, figure:hover ~ hgroup h3 a:after,
.navbar-nav a:hover, .navbar-nav li:hover > a, .navbar-nav .dropdown-menu li.active > a:hover {
    color: rgb(34, 195, 155);
 }
.navbar-nav > li.active > a {
    color: white;
 }
.navbar-nav > li.active > a, .nav .active.open > a:focus {
    background: #22c39b;/* NICE GREEN */
	background: #da2525; /* NICE RED */
	background: #178267;
}
.navbar-nav .dropdown-menu {
    background-color: rgba(255, 255, 255,.9);
}
/* _highlight ----------------- */

.highlight.transparent, .highlight.transparent p, .highlight.transparent h3 {
	background: White;
	color: inherit;}
.highlight.native {
	background: #178267;
	background: rgb(23, 130, 103)} /* green */
.highlight.blue, li.active a.page-scroll.blue {
	background: #004e7a;} /* blue */
.highlight.orange, li.active a.page-scroll.orange {
	background: #da8025;} /* orange */
.highlight.brown, li.active a.page-scroll.brown {
	background: #676b47;} /* brown */
.highlight.red, li.active a.page-scroll.red {
	background: #602020;} /* red */
.highlight.burgundy {
	background: #7d3103;}

/*
background: #f4f5f0;
background: #da2525;  nav red
background: #da8025;
background: #004e7a;  blue
background: #F15E05;
background: #74862d;
background: #676b47;  brown 103, 107, 71
background: #6d7722;
*/

/* --- BORDER _RADIUS --------------------------------- */

.form-control, .btn-submit, img, address {
	border-radius: 4px;}
.cta a {
	border-radius: 5px;}
.carousel-CTA, .telephone, .callout, footer.main nav a {
	border-radius: 8px;}

/* --- _A -------------------------------------------------- */
a {
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    text-decoration: underline;
}
footer.main a, aside.highlight a, address .email a:hover, .highlight p:not(.cta) a {
}
.cta a, a:hover, h3 a, nav a, .carousel-CTA, address .content.phone-number a, .sitemap a, .carousel a, h2 a {
    text-decoration: none;
}
address .content.phone-number a:hover, .sitemap a:hover {
    text-decoration: underline;
}

/* --- _CTA ----------------------------------------------- */
.highlight a:hover {
	color: white;
}
.cta, .carousel-CTA  {
	text-transform: uppercase;
}
.cta {
    overflow: auto;
}
.cta a {
    text-align: right;
    display: block;
    padding: 9px 3em 9px 10px;
    transition-property: background, color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}
.highlight .cta a {
    padding-top: 10px;
    display: inline-block;
    float: none;
    white-space: nowrap;
    border: 1px solid #fff;
    padding-left: 15px;
 }
.cta a:hover {
    background: #1fad8a;
}
.highlight .cta a:hover {
    background: White;
}
.cta a:after, .promote h3 a:after {
    margin-right: -2.2em;
    content:"\a0\2192"; /* "\a0" is used to generate a non braking space in html */
    padding-right: 15px;
    transition-property: padding;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
.promote h3 a:after {
    margin-right: 0;
}
.cta a:hover:after, .promote h3 a:hover:after, figure:hover ~ hgroup h3 a:after {
    padding-left: 15px;
    padding-right: 0;
}

/* ============================================================================================================== */

/* --- _HEADINGS and _PARAGRAPH ------------------------------- */
p, h1, h2, h3, h4, h5, h6, div, ul, li {
	cursor: default;
}
h1 + h2 {
	margin-top: -10px !important;
}


/* --- ABBR -------------------------------------------- */

abbr[data-original-title], abbr[title] {
    border: 0;
    text-decoration: inherit;
    cursor: inherit;
}


/* --- _PROMOTE ------------------------------- */

.promote, .promote .overflow-auto {
	overflow: auto;
}
.promote.first {
	padding-top: 40px;
}
.promote.border {
    border-top: 1px solid rgba(255, 255, 255, .4);
    padding-top: 2em;
    margin-top: 2em;
}

/* --- _IMAGES -------------------------------------------- */

.promote img, .img-responsive {
    width: 100%;
}
.promote.promote-left figure {
    padding: 0 30px 12px 0;
    float: left;
}
.promote.promote-right figure {
    padding: 0 0 12px 30px;
    float: right;
}
.promote.promote-right img {
    height: auto;
}
.promote.promote-left img {
	width: 450px;
}
.promote.promote-right img {
	width: 650px;
}
.promote.thumb img {
	width: 200px;
}
/* image zoom on hover */
.promote figure a {
    overflow: hidden;
    display: block;
}
.promote figure a img {
    transition: all 5s ease-out;
}
.promote figure a:hover img, figure.hover img {
    transform: scale(1.2);
}

/* =====================================================================================
===   _SECTIONS   ======================================================================
======================================================================================== */
	/* --- SCROOL BUG FIX ---  */
	.home-page nav.main:not(.navbar-fixed-top) + main {
		margin-top: -60px;
	}

section, .parallax {
    padding: 70px 0 4em;
}
aside, article > header, aside.contact .highlight {
    padding: 60px 0 4em;
}
aside.contact {
	padding-bottom: 0;
	padding-top: 80px;
	background: white;
}
main > section > header, .highlight header {
	padding-bottom: 2%;
}
form {
	clear: both;
	padding-bottom: 30px;
}
.home-page main > section > header {
    padding-top: 40px; /* aaa */
}
.img-banner {
    margin: 2% 0 1%;
}

/* ---- _HIGHLIGHT _callout ------------------------------ */

.highlight footer {
    border-top: 1px solid rgba(255, 255, 255, .2);
    margin-top: 4%;
    padding-top: 2%;
    box-shadow: inset 0 40px 40px -50px rgba(0,0,0,.1);
}
/* just a bit darker shadow for darker colors */
.highlight.brown footer, .highlight.blue footer {
    box-shadow: inset 0 40px 40px -50px rgba(0,0,0,.2);
}
.highlight h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    margin: 1% 0 4%;
    padding: 0 0 0.6em;
    box-shadow: 0 15px 24px -5px rgba(0,0,0,0.075);
}
.highlight.brown h1, .highlight.blue h1 {
    box-shadow: 0 15px 24px -5px rgba(0,0,0,0.15);
}
.callout {
	background-color: rgba(0,0,0,0.075);
	margin-top: 2%;
	padding: 3% 4% 1%
}
.container.callout {
	padding-right: 15px;
	padding-left: 15px;
}
.container.callout > div {
	padding: 0 1%;
}
p.callout {
	font-style: italic;
	padding: 1em;
}
/* just to separa footer and header from the items in the callout */
.callout .row {
	padding-top: 1%;
	padding-bottom: 1.5%;
}

/* --- PRALLAX -------------------------------------- */

.parallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-color: Black;
}
.parallax:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.2);
    background: rgba(34, 195, 155, 0.3);
    background: rgba(241, 94, 5, 0.6);
    background: rgba(0,0,0,0.3);
}
.parallax.attorney {
    background-image: url(../images/page0/Attorney_1.jpg);
}
.parallax.miami {
    background-image: url(../images/page0/Miami.jpg);
}
.parallax .container {
    position: relative;
    z-index: 1;
}

/* === _ULs ===================================================================================
=============================================================================================== */

/* --- _NATIVE ---------- */
ul.native {
    padding: 0 0 0 20px;
}
ul.native ul {
    list-style-type: none;
    padding: 0 0 6px 15px;
}
ul.native ul li {
  	text-indent: -17px;
}
ul.native ul li:before {
  	content: "- ";
  	padding-right: 5px;
}

/* --- _NAV _MAINNAV _NAVIGATION --- */
.navbar-fixed-top 							{position: static;}
.sub-page .navbar-fixed-top 				{position: fixed !important;}
.collapse.navbar-collapse 					{}
/* .nav > li > a:focus, .nav > li > a:hover 	{outline:none;}
.navbar-nav li:hover .dropdown-menu 		{display: block;} */

nav.main {
    border: 0;
}
nav.main, footer.main {
    background-color: white;
    box-shadow: 0 0 4px 4px rgba(0,0,0,.3);
}

/* _SUBMENU */
.navbar-nav .dropdown-menu {
	border: 0;
    border-bottom: 6px solid #009973;
    padding: 0;
    left: -10px;
    right: auto;
    top: auto;
    float: none;
    /* background-clip: padding-box; */
    box-shadow: 0 4px 3px 1px rgba(0,0,0,.2);
    width: 200px;
   }
   /*
   .navbar-nav > li > .dropdown-menu {
	    border-radius: 10px;
	    border-top-left-radius: 0;
		border-top-right-radius: 10px;
	}
   .navbar-nav > li > .dropdown-menu {
	    border-radius:11px;
	}
   .navbar-nav > li > .dropdown-menu li:first-child a {
	    border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
   .navbar-nav > li > .dropdown-menu li:last-child a {
	    border-radius: 0 0 10px 10px;
	}

/* NAV LINKS */
.navbar-nav li a, .navbar-nav .dropdown-menu a {
	text-transform: uppercase;
	padding: 20px 10px 18px;
	transition-property: padding;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.navbar-nav .dropdown-menu a {
	padding: 10px 10px 10px 20px;
}
/* _LOGO */
.navbar-brand {
    padding: 16px 20px 0 10px;
}
.navbar-brand img {
    width: 230px;
    height: auto;
}

/* === CONTACT =====================================================================================================
==================================================================================================================== */

#google-map {
    height: 300px;
}
.optionalFields.collapsed {
	display: block;
}
.optionalFields:not(.collapsed) {
	display: none;
}
.form-control {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: none;
}
.form-control[required="required"] {
	border: 2px solid  #22c39b;
}
.form-group {
}
.form-group.submit {
}
.btn-submit {
    background: rgba(23, 130, 103, 1);
    border: 1px solid #178267;
    border: 0;
    padding: 12px 30px 10px;
}
.form-control:focus {
	border-color: #22c39b;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(34, 195, 155, 1);
}
.btn-submit:hover {
    border: 1px solid #22c39b;
    border: 0;
    background: #22c39b;
    /*
    padding: 12px 28px 8px 30px;
    margin-bottom: 2px;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.5), inset 1px 1px 0 1px rgba(255, 255, 255,0.65); */
}

/* === _ADDRESS =============================================== */

address {
	float: right;
	border: 1px solid #f0f0f0;
    padding: 40px 20px 10px 16px;
    margin-top: -80px;
    background: #f3f3f3;
    border-radius: 0 0 8px 8px;
}
address > div {
	padding-bottom: 6px;
}
address .name {
	text-align: center;
}
address .content.name {
    border-bottom: 1px solid #bbb;
    display: inline-block;
}
address .content.title {
    text-transform: uppercase;
	display: block;
}
address .number div, address .content.address {
	overflow: auto;
}
address .address-label {
    float: left;
    min-width: 70px;
    text-align: right;
    padding: 3px 12px 0 0;
}
address .address-label.phone-number {
	padding-top: 16px;
}

/* === _FOOTER =============================================== */

footer.main {
	background-color: #7d3103;
	background: white;
	padding: 20px 0 10px;
}
footer.main nav {
	padding-bottom: 90px;
	text-transform: uppercase;
}
footer.main nav a {
	padding: 8px 12px 5px;
}
footer.main nav a:hover {
	color: white;
	/*
	background: #22c39b;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1), inset 1px 1px 0 1px rgba(255, 255, 255,0.3);
	*/
}
.sitemap {
	background: #f8f8f8;
	border-top: 1px solid #22c39b;
	padding: 10px 0 10px 2%;
}
.sitemap.collapse.in {
	overflow: auto;
}
.sitemap > ul {
	margin: 0;
	list-style-type: none;
	padding-left: 8px;
}
.sitemap > ul > li {
	float: left;
	width: 19%;
}
.sitemap > ul > li > a {
	font-size: 90%;
}
.sitemap li.sitemap-larger {
	width: 26%;
}
.sitemap li.sitemap-smaller {
	width: 13%;
}
.sitemap li.sitemap-medium {
	width: 22%;
}
.sitemap ul ul {
	padding-left: 18px;
}
footer.main aside {
	border-top: 1px solid #22c39b;
	padding-top: 10px;
	padding-bottom: 200px;
}
.backtotop {
	display: none;
}
.sitemap a {
	padding: 5px 8px 6px;
	margin-left: -7px;
}
/*
.sitemap a:hover {
	padding: 6px 8px 5px;
}
*/

/* === _CAROUSEL ================================================================================================================
================================================================================================================ */

.carousel {
  overflow: hidden;
}

/* --- CAROUSEL CAPTION AND CONTROLS -------------------- */

.carousel .caption  {
    position: absolute;
    padding: 0;
    left: 0;
    right: 0;
    z-index: 15;
}
.sub-page .carousel .caption {
	bottom: 20%;
	padding-left: 0;
}
.carousel .caption.contact {
	text-align: center;
}
/*
    H1 for first slide
    H3 for last slide (Contact Us)
    H2 for all others
*/
.carousel h1, .carousel h2, .carousel h3, .carousel p  {
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}
.carousel h1 span, .carousel-CTA  {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9),  -1px -1px 1px rgba(255, 255, 255,0.8);
}
.carousel h1, .carousel h2, .carousel h3  {
    margin-bottom: 20px;
    animation-delay: 0.5s;
}
.carousel h1 > span {
    display: block;
    padding-top: 6px;
    text-transform: uppercase;
    font-weight: normal;
}
.carousel h1 span span {
    padding-top: 6px;
    border-top: 1px solid rgba(255, 255, 255, .6);
}
.carousel p {
	text-transform: uppercase;
    animation-delay: 0.75s;
}
.carousel-CTA {
	display: inline-block;
    padding: 14px 30px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-top: 30px;
    background: rgba(23, 130, 103, .6);
    animation-delay: 1s;
    box-shadow: 1px 1px 1px 3px rgba(0,0,0,0.1) inset, -1px -1px 1px 2px rgba(255, 255, 255,0.5) inset, 1px 1px 1px 1px rgba(0,0,0,0);
}
.carousel-CTA:hover {
    background: rgba(23, 130, 103, 1);
}
/* practices button only */
.carousel-CTA.primary  {
    background: rgba(218, 37, 37, .6);
    margin-right: 25px;
}
.carousel-CTA.primary:last-child  {
    margin-right: 0;
}
/* practices button only */
.carousel-CTA.primary:hover  {
    background: rgba(218, 37, 37, 1);
}
.telephone {
    position: absolute;
    top: 30px;
    right: 20px;
    vertical-align: middle;
    padding: 7px 15px;
    z-index: 3;
    background-color: rgba(0, 0, 0, .3);
}
.telephone:before {
    content: "\2706";
    content: "\260E";
    padding-right: 10px;
}
.left-control, .right-control {
    position: absolute;
    top: 46%;
    z-index: 20;
}
.right-control {
  	right:3px
}
.left-control {
    left:3px
}
.right-control:after {
    content: "\276D";
}
.left-control:after {
    content: "\276C";
}

/*
#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}
*/
/* --- CAROUSEL FADING ITEMS --------------------- */

.carousel-inner > .item.active, .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right {
	transform: none;
}

.carousel-inner {
	/*
	position: relative;
	*/
  	background: white;
  	z-index: 2;
}
.carousel-inner .item {
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-attachment: fixed;
}
.sub-page .carousel .item {
	height: 450px;
	border-bottom: 6px solid #178267;
}
.carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.2);
}
.carousel-inner .active {
  opacity: 2;
}
.carousel-inner .active.left,
.carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 2;
}
.carousel-inner .next.left,
.carousel-inner .prev.right {
  opacity: 2;
}
.carousel-control {
  z-index: 2;
}

/* --- PRELOADER & BACKTOTOP ----------------------------------------- */

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	background: Black;
}
.preloader img {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 70px;
	width: 70px;
	margin-top: -35px;
	margin-left: -35px;
	display: inline-block;
    animation: 2s linear 0s normal none infinite spin;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
/*
.backtotop img {
	position: fixed;
	bottom: 20px;
	right: 5px;
	height: 45px;
	width: 45px;
	display: inline-block;
	z-index: 2;
}
*/
.backtotop a {
	position: fixed;
	bottom: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
	display: inline-block;
	z-index: 2;

	background: url("../top30px.png") center no-repeat;
}
  	/*
    color: rgba(0,0,0,.4);
    border: 1px solid rgba(0,0,0,.3);
    background: rgba(255, 255, 255,.4);
	content: "\27A1";
    content: "\276F";
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
    padding: 0 10px 6px 10px;
    border-radius: 50%;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
*/

/* === Q U E R I E S ===================================================
======================================================================== */
















/* === Q U E R I E S ===================================================
======================================================================== */















/* === Q U E R I E S ===================================================
======================================================================== */
















/* === Q U E R I E S ===================================================
======================================================================== */

















/* === Q U E R I E S ===================================================
======================================================================== */










/* === _LG =============================================== */
@media (min-width: 1200px) {
	.form-control {
	}
}

/* === _MD + ALL BELOW ================================== */
@media (max-width: 1199px) {
	body {
		font-size: 90%;
		color: #777;
	}
}
/* === _MD =============================================== */
/* @media (min-width: 992px) and (max-width: 1199px) { */
@media (max-width: 1199px) {
	.promote.promote-left img, .promote.promote-right img {
	    width: 400px;
	}
	.promote.thumb img {
	    width: 200px;
	}
	.promote .overflow-auto {
		overflow: visible;
	}
	.navbar-brand img {
		width: 200px;
	}
	.nav .home-link {
		display: none;
	}
}


/* === S M A L L ====================================================
===================================================================== */











/* === S M A L L ====================================================
===================================================================== */












/* === S M A L L ====================================================
===================================================================== */






/* === _SM ====================================================== */
@media (max-width: 991px) {

	.cta a:after, .promote h3 a:after {
	    margin-right: -1.83rem;
   	}
    /* --- FONT SIZE --- SMALL AND MOBILE!!!! --------------- */
	body {
		font-size: 70%;
	}
	.highlight .col-sm-4 h3, .highlight .col-md-3 h3, .btn-submit {
		font-size: 200%;
	}
	p, ul.native, ul.typeface, .highlight .col-sm-4 p, .highlight .col-md-3 p, .form-control {
		font-size: 145%;
		line-height: 140%;
	}
	.col-sm-6.col-md-3 hgroup, .col-sm-4 hgroup {
		font-size: 100%;
	}

    /* -------------------------- */
	.clearfix {
		padding-bottom: 1%;
	}

	.cta a:after, .promote h3 a:after {
	    /* margin-right: -2.3em; */
   	}
	.promote {
		margin-bottom: 1%;
	}

    /* --- NAVIGATION --- SMALL------------------------ */

	.navbar-nav li a {
		padding-left: 5px;
		padding-right: 5px;
	}
	.navbar-brand img {
		width: 150px;
	}
	.navbar-brand {
		padding-top: 20px;
	}

    /* --- CAROUSEL --- SMALL------------------------ */

    .carousel h1 > span {
        padding-top: 6px;
    }
	.sub-page .carousel .item {
		height: 400px;
	}
    .carousel .caption.contact  {
	    padding-left: 0;
	}
	.carousel .carousel-CTA {
	    white-space: normal;
		padding: 12px 22px;
		margin-top: 15px;
	}

    /* --- __SECTION --- SMALL -------------------------- */

    .cta a {
        float: right;
        padding-left: 20px;
    }

    /* --- CONTACT --- SMALL------------------------ */

    textarea.form-control {
    	min-height: 180px;
	}
}




/* === M O B I L E  =  I  ===========================================
===================================================================== */











/* === M O B I L E  =  I  ===========================================
===================================================================== */












/* === M O B I L E  =  I  ===========================================
===================================================================== */










/* === M O B I L E  =  I  ===========================================
===================================================================== */











/* === M O B I L E  =  I  ===========================================
===================================================================== */












/* === M O B I L E  =  I  ===========================================
===================================================================== */













/* === M O B I L E  =  I  ===========================================
====== XS (_MOBILE) ================================================== */

@media (max-width: 767px) {
	main {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
	}
	h2 span.location, .sitemap a {
		font-family: "Electrolize", "Share Tech Mono", "Trebuchet MS","Lucida Grande",Tahoma,sans-serif;
	}

	header.main, .sitemap-link, footer.main nav {
		display: none;
	}
	.nav .home-link, .sitemap {
		display: block;
	}
	aside.contact {
		color: Black;
	}
	.form-control::-moz-placeholder, .form-control,
	input[type="text"], input[type="email"], input[type="url"], input[type="password"],
	textarea, select {
		color: #444;
	}
	.form-control {
		height: 45px;
	}
	.backtotop {
		display: block;
	}
	body {
		padding-top: 10px;
		color: #666;
	}
	.home-page main > section > header {
		padding-top: 0;
	}


	/* --- FONT SIZE ----- MOBILE I ---------- */
	h2, h3, .promote.promote-left h2, .promote.promote-right h2 {
		font-size: 190%
	}
	main > section > header h2 {
		font-size: 220%;
		font-weight: bold;
	}
	.btn-submit {
		width: 100%;
	}
	aside.miami {
		padding-top: 6%;
		font-size: 50%;
	}
	.highlight h1 {
		font-size: 80%;
		margin-left: -15px;
		margin-right: -15px;
		padding-right: 15px;
		padding-left: 15px
	}
	h1 + h2 {
    	margin-top: 5px !important;
	}
	main.nav{
		font-size: 4em;
	}
	h2 span.location {
		display: block;
		font-size: 55%;
		border-bottom: 1px solid #22c39b;
    	color: #999;
		padding-bottom: 0;
		line-height: 140%;
		margin-bottom: 1%;
		font-family: "Electrolize", "Share Tech Mono", "Trebuchet MS","Lucida Grande",Tahoma,sans-serif;
	}
	aside.contact header p {
		font-size: 150%;
		line-height: 130%;
	}

	/* --- NAVIGATION --- _MOB I ------------------- */

	nav.main {
		font-size: 1.45em;
		position: fixed !important;
		color: #333;
		background: rgba(255,255,255,0.97);
	}
	.navbar-fixed-top .navbar-collapse {
		max-height: auto;
		max-height: none;
	}

		.navbar-nav .dropdown-menu {
			display: block;
			position: relative;
			float: none;
			width: auto;
			left: auto;
			box-shadow: none;
			border: 0;
			border-bottom: 1px solid #ccc;
			background: transparent;
		}
	.navbar-brand {
		padding: 13px 0 10px 10px;
	}
	.navbar-brand img {
		width: 240px;
	}
/*
	.navbar-toggle {
	    background-color: rgb(23, 130, 103);
	    border: 0;
	    margin: 8px 6px 2px 0;
	    padding: 4px 5px 6px 7px;
	    border-radius: 0;
	}
	.navbar-toggle, .navbar-toggle.collapse, .navbar-toggle.collapsing {
		display: block !important;
		height: auto !important;
	    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.8), inset 1px 1px 1px 0 rgba(255,255,255,1);
	}
	.navbar-toggle.collapse.in {
		display: block !important;
		height: auto !important;
		margin-right: 5px;
		margin-top: 11px;
		padding: 1px 6px 7px 4px;
	    box-shadow: -1px -1px 1px 0px rgba(0,0,0,0.8), inset -1px -1px 1px 0 rgba(255,255,255,1);
	}
*/
	.navbar-header {
		border-bottom: 1px solid black;
	}
	.navbar-toggle {
	    margin: 10px 6px 2px 0;
	    padding: 0 3px 5px;
	    border: 2px solid black;
	}
	.navbar-toggle .icon-bar {
	    background-color: black;
	    width: 22px;
		height: 2px;
		margin-top: 5px;
	}
/*
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
		max-height: auto;
		max-height: none;
		background: transparent;

	}
*/
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
		border-bottom: 2px solid black;
	}

	 .navbar-nav li a {
		border-bottom: 1px solid #ccc;
		padding: 11px 5%;
	}
	 .navbar-nav .dropdown > a {
		border-bottom: 1px solid #ccc;
	}
	 .navbar-nav .dropdown-menu a {
		padding: 7px 10%;
		background: transparent;
		border-bottom: 1px solid #ccc;
	}
	 .navbar-nav .dropdown-menu li:last-child a {
		border-bottom: 0;
	}

	/* ---- _banner ------------ */
	.mobile-banner {
		font-size: 14px;
		margin-top: 40px;
		background-color: black;
		background-position: center bottom;
		background-repeat: no-repeat;
		display: block;
		background-image: url("../images/slider/1.jpg");
	}
	p.mobile-banner-title {
		color: white;
		min-height: 200px;
		opacity: 1;
		font-size: 27px;
		background-color: rgba(0,0,0,.3);
		padding: 90px 5% 20px;
	}
	.mobile-banner p.mobile-banner-title > span {
		line-height: 22px;
		display: block;
		padding: 0 0 20px;
		font-size: 17px;
		color: white;
		font-family: "Electrolize";
	}
	.mobile-banner p.mobile-banner-title abbr {
		font-size: 19px;
	}
	.mobile-banner p span.mobile-banner-caption {
		line-height: 17px;
		display: block;
		font-size: 14px;
		color: white;
		font-family: "tahoma";
		color: #444;
		background: rgba(255, 255, 255, 0.5);
		padding: 2% 3%;
		font-style: italic;
		font-weight: bold;
	}

    /* --- COPY --- MOBILE 1 ----------------------------- */

	.cta a {
        white-space: nowrap;
    }
	/* use for without images
	.highlight figure + h2, .highlight figure + h3 {
		margin-top: 0;
	}
	*/

	.parallax {
	}
	.parallax h2, .parallax h3 {
		color: White;
	}
	.promote, .promote .overflow-auto {
		overflow: visible;
	}
	.promote:not(.thumb) figure {
		padding: 4% 0 0;
		margin: 0 -15px;
	}

    /* --- __PROMOTE --- MOBILE I -------------------------- */

    .promote.promote-left:not(.thumb) img, .promote.promote-right:not(.thumb) img {
		float: none;
		width: 100%;
		padding: 20px 0 0;
	}
	.promote.thumb img {
		width: 145px;
	}
	.promote.thumb figure {
		padding: 6px 0 6px 6px;
	}
	.promote.border, .callout {margin-top: 0; border: 0;}
	.clearfix {padding-bottom: 0;}
	p, ul.native, ul.typeface, h4 {margin-bottom: 0.5em;}
	.container.callout > div {padding: 0;}

	/* CONTACT AND FOOTER --- MOBILE I ------------------- */

	.form-group {
	    margin-bottom: 20px;
	}
	footer.main {
		padding-top: 0;
		border-top: 1px solid black;
	}
	/* --- _SITEMAP --- MOBILE I ------------------- */
	.sitemap, .sitemap ul {
		padding: 0;
		margin: 0;
	}
	.sitemap ul li {
		display: block;
		padding: 0;
		float: none;
		width: 100%;
	}
	.sitemap ul li:before {
		display: none;
	}
	.sitemap li, .sitemap li.sitemap-medium, .sitemap li.sitemap-larger, .sitemap li.sitemap-smaller {
		width: auto;
	}

	.sitemap ul a, .sitemap > ul > li > a {
		font-size: 110%;
	}
	.sitemap ul a {
		color: #178267;
		display: block;
		text-align: left;
		border-bottom: 1px solid #ddd;
		padding: 8px 0 8px 5%;
		text-transform: uppercase;
	}
	.sitemap ul ul {
		padding: 0;
		display: block
	}
	.sitemap ul ul a, .sitemap ul ul a:hover {
		padding: 8px 0 8px 15%;
		text-transform: capitalize;
	}
	.sitemap ul ul li:last-child a {
		border-bottom: 1px solid #178267;
	}
	.sitemap ul a:hover {
		text-decoration: none;

	}

	/* ADDRESS --- MOBILE I ------------------- */

	address {
		padding-top: 50px;
		padding-bottom: 20px;
		float: none;
		display: block;
		margin: 0
	}
	address .address-label {
	    min-width: auto;
	    min-width: none;
	    float: none;
	    display: block;
	    text-align: left;
	    padding-top: 0;
	}

	address .number .address-label {
		padding-top: 0;
	}
	address .content.name strong {
		font-weight: bold;
	}
	address span {
    	clear: left;
    }
	address .content.phone-number {
		padding-bottom: 6px;
		display: block;
	}
	address .content.address, address .content.fax-number, address .content.email {
		font-size: 19px;
	}
}






/* === M O B I L E  =  I I ==========================================
===================================================================== */















/* === M O B I L E  =  I I ==========================================
===================================================================== */











/* === M O B I L E  =  I I ==========================================
===================================================================== */












/* === M O B I L E  =  I I ==========================================
===================================================================== */
















/* === M O B I L E  =  I I ==========================================
===================================================================== */











/* === M O B I L E  =  I I ==========================================
===================================================================== */












/* === M O B I L E  =  I I ==========================================
===================================================================== */











/* === M O B I L E  =  I I ==========================================
====== XS (MOBILE) Portrait ========================================= */

@media (max-width: 543px) {

	.container {
	}

    .cta {
    	margin: 0;
    	padding-top: 10px;
		overflow: inherit;
		text-align: left;
    }
    .cta a {
		float: none;
	    white-space: normal;
    }
    address .content.title br {
    }
    address .name {
    	text-align: left;
    }


}